.banner {
  background-size: cover;
  background-position: center;
  background: url("../../images/background.png");
  color: white;
  padding: 200px 0;
}

.container{
  width: 900px;
  margin: auto;
}

.banner h1{
  font-size: 2em;
  font-weight: bold;
}

.banner p {
  opacity: 0.7;
  font-size: 20px;
}

.banner .btn {
  background: #1EDD88;
  text-decoration: none;
  padding: 16px 36px;
  border-radius: 50px;
  color: white;
  margin-top: 8px;
  display: inline-block;
}
.
